.content {
    display: grid;
    grid-template-columns: 2fr 10fr;
    background-color: #66CDAA;
}
.content img {
    width: 40px;
    border-radius: 400px;
    border: 3px solid green;
    box-shadow: 0 0 7px #666;
}

